@{
    ViewData["Title"] = "HKB/HKW – Kontakt";
    ViewData["SEODescription"] = "Johann Georg Hamann: Kommentierte Edition der Werke und Briefe. Herausgegeben von Janina Reibold und Leonard Keidel.";
}


@await Html.PartialAsync("/Views/Shared/_HKBHKWChooser.cshtml")

<div class="ha-static">
	<div class="ha-static-right-margin">
    <h1>Kontakt</h1>
	<div class="flex flex-row gap-y-6 gap-x-6 shadow-sm border px-4 py-3 flex-wrap">
		<div class="grow shrink-0" >
			Theodor Springmann Stiftung <br>
			Dr. Janina Reibold <br>
			Hirschgasse 2 <br>
			69120 Heidelberg <br>
			Telefon: 06221 7259277 <br>
			E-Mail: <a class="Emailhref" href="mailto:post@hamann-ausgabe">post@hamann-ausgabe</a>
		</div>
		<div class="grow shrink-0">
			Germanistisches Seminar der Universität Heidelberg <br>
			Dr. Janina Reibold <br>
			Hauptstraße 207–209 <br>
			69117 Heidelberg <br>
			Telefon: 06221 543254 <br>
			<a class="ExternerLink" href="https://www.gs.uni-heidelberg.de/personen/reibold.html" target="blank">www.gs.uni-heidelberg.de/personen/reibold.html</a>
		</div>
	</div>


<h3>Anmeldung zur regelmäßigen Mitteilung über den Stand der kommentierten Hamann-Ausgabe</h3>
<p>Wenn Sie über den Verlauf des Projekts informiert werden möchten, melden Sie sich bitte mit einer E-Mail an <a class="Emailhref" href="mailto:post@hamann-ausgabe.de">post@hamann-ausgabe.de</a> zu unserem Newsletter an. Sie erhalten dann Mitteilung über die Termine der online-Veröffentlichung der Briefe und des Kommentars sowie Hinweise zum Erscheinen der kommentierten Werkbände im Meiner Verlag.

<h3>Ihre Mitarbeit am Online-Kommentar</h3>
<p>Die Online-Publikation der Briefe und des Stellenkommentars ermöglicht eine ständige Revision desselben. Wir möchten Sie einladen, mit Ergänzungen, Korrekturen, Vorschlägen zu dessen Verbesserung beizutragen. Senden Sie uns diese bitte an <a class="Emailhref" href="mailto:post@hamann-ausgabe.de">post@hamann-ausgabe.de</a>. Nach unserer Prüfung fügen wir diese in den Online-Kommentar ein (auf Wunsch auch mit Namensnennung des Beiträgers).

</div>
</div>