@{
    ViewData["Title"] = "Mitwirkende";
    ViewData["SEODescription"] = "Johann Georg Hamann: Kommentierte Briefausgabe. Durchsuchbare Online-Ausgabe der Briefe von und an Johann Georg Hamann. Mitwirkende.";
}


<div class="ha-static">
    <h1>Mitwirkende</h1>
    <h3>Philologische Mitarbeit</h3>
    Dr. Gregor Babelotzky (seit 2019)<br/>
    Konrad Bucher (seit 2019)<br/>
    Christian Großmann (2018–2019)<br/>
    Carl Friedrich Haak (2013–2018)<br/>
    Leonard Keidel (seit 2018)<br/>
    Luca Klopfer (seit 2016)<br/>
    Johannes Knüchel (2016–2020)<br/>
    Isabel Langkabel (2013–2019)<br/>
    Simon Martens (2013–2018)<br/>
    Dr. Janina Reibold (Leitung seit 2013)

<h3>Technische Umsetzung</h3>
    Carl Friedrich Haak (2018–2020)<br/>
    Simon Martens (seit 2018)


<h3>Zitierempfehlung</h3>
    Johann Georg Hamann: <span class="italic">Kommentierte Briefausgabe.</span> Hg. von Leonard Keidel und Janina Reibold, auf Grundlage der Vorarbeiten Arthur Henkels, unter Mitarbeit von Gregor Babelotzky, Konrad Bucher, Christian Großmann, Carl Friedrich Haak, Luca Klopfer, Johannes Knüchel, Isabel Langkabel und Simon Martens (Heidelberg 2020&#x202f;ff.). URL: www.hamann-ausgabe.de [= HKB]
</div>