@{
    ViewData["Title"] = "HKB – Mitwirkende";
    ViewData["SEODescription"] = "Johann Georg Hamann: Kommentierte Briefausgabe. Mitwirkende.";
}


<div class="ha-static">
    <div class="ha-static-right-margin">
        <h1>Mitwirkende</h1>
        <h3>Herausgeber</h3>
        Dr. Janina Reiblod<br>
        Leonard Keidel

        <h3>Philologische Mitarbeit</h3>
        Dr. Gregor Babelotzky (seit 2019)<br>
        Konrad Bucher (seit 2019)<br>
        Luca Klopfer (seit 2016)

        <h3>Technische Umsetzung</h3>
        Simon Martens (seit 2018)

        <h3>Ehemalige Mitwirkende</h3>
        Isabel Langkabel (2014–2019)<br>
        Carl Friedrich Haak (2014–2020)<br>
        Johannes Knüchel (2016–2020)<br>
        Christian Großmann (2018–2019)


        <h3>Zitierempfehlung</h3>
        <p class="!mb-1"><span class="font-bold">kurz:
        <div class="pl-3 border-l-4 unhyphenate">
            <p class="!mt-1">Johann Georg Hamann: Kommentierte Briefausgabe. Hg. von Leonard Keidel und Janina Reibold  (Heidelberg 2020 ff.). URL: www.hamann-ausgabe.de [= HKB]
        </div>
        <p class="!mb-1"><span class="font-bold">ausführlich:
        <div class="pl-3 border-l-4 unhyphenate">
            <p class="!mt-1">Johann Georg Hamann: Kommentierte Briefausgabe. Hg. von Leonard Keidel und Janina Reibold, auf Grundlage der Vorarbeiten Arthur Henkels, unter Mitarbeit von Gregor Babelotzky, Konrad Bucher, Christian Großmann, Carl Friedrich Haak, Luca Klopfer, Johannes Knüchel, Isabel Langkabel und Simon Martens (Heidelberg 2020 ff.). URL: www.hamann-ausgabe.de [= HKB]
        </div>
    </div>
</div>