@{
    ViewData["Title"] = "HKB – Editionsrichtlinien";
    ViewData["SEODescription"] = "Johann Georg Hamann: Kommentierte Briefausgabe. Editionsrichtlinien.";
}

<div class="ha-static">
    <div class="ha-static-right-margin">
        <h1>Editionsrichtlinien</h1>
        <p>Die Online-Edition der Briefe Johann Georg Hamanns bietet dieselben als durchsuchbaren Volltext. Die Einteilung der Bände der gedruckten Briefausgabe ZH (J.G. Hamann, Briefwechsel. Hg. von Walther Ziesemer und Arthur Henkel. 7 Bde. [Frankfurt a. M. 1955–1979]) wird übernommen. Die derzeit hier veröffentlichten Briefe entsprechen im Umfang dem ersten Band von ZH und zusammen mit dem Stellenkommentar und den Registern unserem Editionsstand vom 27. Januar 2022.
        
        <p>Die in den Brief-Manuskripten enthaltenen Auszeichnungen werden, teilweise in veränderter Form gegenüber ZH, wiedergegeben:
    </div>
    <div class="desktop:pr-8">
        <table class="">
            <tr>
                <th class="desktop:whitespace-nowrap">Handschrift od. Abschrift</th>
                <th class="desktop:whitespace-nowrap">Z&#x200A;H</th>
                <th class="desktop:whitespace-nowrap">H&#x200A;K&#x200A;B</th>
            </tr>
            <tr>
                <td class="desktop:whitespace-nowrap">Deutsche Kurrentschrift</td>
                <td class="desktop:whitespace-nowrap">Fraktur</td>
                <td><span class="ha-serif">Serifenschrift (Linux Libertine)</span></td>
            </tr>
            <tr>
                <td class="desktop:whitespace-nowrap">Lateinische Schreibschrift</td>
                <td class="desktop:whitespace-nowrap">Antiqua</td>
                <td><span class="ha-aq">serifenlose Schrift (Linux Biolinum)</span></td>
            </tr>
            <tr>
                <td class="desktop:whitespace-nowrap">Unterstreichung (einfache bis dreifache)</td>
                <td class="desktop:whitespace-nowrap">Sperrung / fette Sperrung</td>
                <td><span class="ha-ul">Unterstreichung</span> (einfache bis dreifache)</td>
            </tr>
            <tr>
                <td class="desktop:whitespace-nowrap">Durchstreichung</td>
                <td class="desktop:whitespace-nowrap">in spitzen Klammern ⟨...⟩</td>
                <td><span class="ha-del">Durchstreichung</span> (einfache bis doppelte)</td>
            </tr>
            <tr>
                <td class="desktop:whitespace-nowrap">Einfügung</td>
                <td></td>
                <td>&#x2E02;Einfügung&#x2E03; (lediglich in Einzelfällen)</td>
            </tr>
            <tr>
                <td class="desktop:whitespace-nowrap">Nicht entzifferbare Stelle / Unsichere Lesung</td>
                <td class="desktop:whitespace-nowrap">unterschiedlich gehandhabt</td>
                <td>mit einem leeren Mittelpunkt markiert ◦ ◦</td>
            </tr>
            <tr>
                <td class="desktop:whitespace-nowrap">Brieftext fremder Hand</td>
                <td class="desktop:whitespace-nowrap">kleinere Schrift</td>
                <td><span class="ha-hand">klassizistische Antiqua (Playfair Display),</span> der Schreiber wird im Apparat angegeben</td>
            </tr>
            <tr>
                <td class="desktop:whitespace-nowrap">Ergänzung durch Hg.</td>
                <td class="desktop:whitespace-nowrap">in eckigen Klammern [...]</td>
                <td><span class="ha-added">grau hinterlegt</span></td>
            </tr>
            <tr>
                <td class="desktop:whitespace-nowrap">Herausgeberanmerkung</td>
                <td class="desktop:whitespace-nowrap">kleinere Schrift</td>
                <td><span class="ha-note">Kursive in grauer Farbe</span></td>
        </table>
    </div>

    <div class="ha-static-right-margin">
        <p>Die Briefnumerierung und Seiten- und Zeilenzählung wird von ZH übernommen, jedoch da, wo ZH fehlerhaft ist (bes. bei der Zeilenzählung), stillschweigend korrigiert. Auch bei der Datierung der Briefe wurden Korrekturen vorgenommen, die sich auf die Reihenfolge auswirken, aber die ZH-Numerierung wurde der wechselseitigen Benutzbarkeit von Buch- und Online-Edition wegen belassen. Die digitale Einrichtung der Edition (im XML-Format) bringt geringfügige Einschränkungen in der Textdarstellung mit sich: So stehen etwa Wörter, die in ZH am Zeilenende getrennt und umbrochen sind, hier nicht-getrennt in der je zweiten Zeile.

        <p>Sofern die handschriftlichen Originale der Briefe, Abschriften oder Druckbogen von ZH (siehe dazu die <a href="/Edition/Editionsgeschichte">editionsgeschichtlichen Voraussetzungen</a>) vorliegen, wird der Brieftext an diesen geprüft und ggf. korrigiert. Text-Korrekturen, die mehrerlei Ursache haben (Lese- und Druckfehler oder Fehler nach Kollation mit ursprünglichen Druckbogen, Manuskripten oder Abschriften), werden in den Online-Brieftexten vorgenommen, der ursprüngliche Wortlaut in ZH sowie die Gründe für den Texteingriff sind jeweils in den textkritischen Anmerkungen unter dem Brieftext kenntlich gemacht. Soweit erstellbar, ist im Apparat für jeden Brief die Provenienz geliefert.

        <p>Der Stellenkommentar in der Marginalspalte neben dem Brieftext und die Register stützen sich auf umfangreiche Vorarbeiten Arthur Henkels, der diese der Theodor Springmann Stiftung vor seinem Tod mit dem Auftrag übereignet hat, dass eine Online-Edition mit redigiertem und revidierbarem Kommentar erstellt und organisiert wird. Sybille Hubach, eine langjährige Mitarbeiterin Henkels, hat die Kommentierung des 2005 verstorbenen Germanisten auf www.hamann-briefwechsel.de als archivalisches Zeugnis publiziert und für die Bände V–VII ergänzt, bspw. mit Informationen aus den kommentierten Briefausgaben von Johann Gottfried Herder und Friedrich Heinrich Jacobi. 

        <p>Der hier vorgelegte Stellenkommentar und die dazugehörigen Register beruhen auf neuen Recherchen bzgl. Personen, Quellen, Worten und historischen Begebenheiten und ergänzen, korrigieren oder bestätigen die bisherigen Informationen. Einen Schwerpunkt in Hamanns Korrespondenz bilden die Lektüren. Im Nachweis von Zitaten und benutzten Büchern besteht eine Hauptaufgabe des Kommentars. Auch die Verbindungen von Brief- und Werktexten (Stellenangaben nach den Erstdrucken und der Werkausgabe: <span class="kursiv">Sämtliche Werke,</span> hg. v. Josef Nadler. 6 Bde. [Wien 1949–1957, Reprint 1999] [=N], sowie bei den sog. Londoner Schriften: <span class="kursiv">Londoner Schriften,</span> hg. v. Oswald Bayer u. Bernd Weißenborn [München 1993] [=LS]) Hamanns werden nachgewiesen. 

        <p>Die Stellenkommentare sind mit einem Quellen-/Personen-, mit einem Bibelstellenregister und mit einer Forschungsbibliographie verlinkt. Das Quellen- und Personenregister ist alphabetisch nach Autoren sortiert; Zeitschriften mit mehreren Herausgebern sind nach dem Titel einsortiert. Die Nachweise der Bezugstexte Hamanns im Register verweisen auf die Erstdrucke und die von ihm konsultierten Ausgaben (sofern belegbar), sie verlinken außerdem auf Digitalisate dieser Ausgaben, wenn solche publiziert sind. Existiert eine moderne kritische Ausgabe des Bezugstextes, so wird diese angegeben. Außerdem ist der sog. »Biga«-Titeleintrag (Biga Bibliothecarum – N V S. 15–121) zitiert, ein 1776 gedruckter Versteigerungskatalog, in dem die Bibliotheken Hamanns und die seines Freundes Johann Gotthelf Lindner verzeichnet sind.

        <p>Das Register enthält i.d.R. für die Personen Stellenverweise nur auf das im jeweiligen Brief erste Vorkommen. Orte werden im Stellenkommentar, wo möglich, mit der heutigen Bezeichnung und den Geo-Koordinaten versehen. Für heute ungebräuchliche Worte, regionale und dialektale Idiotismen werden Übersetzungen versucht. 

        <p>Die biographischen Angaben zu Personen im Register gehen über wenige Eckdaten (mit Verweis auf den Eintrag in einem biographischen Standard-Lexikon) nur dann hinaus, wenn Informationen, die in Verbindung mit Hamanns Leben und Lektüren stehen, geboten werden müssen. Das Register wird parallel zur Stellenkommentierung erarbeitet, ist also noch nicht abgeschlossen. 

        <p>Die Forschungsbibliographie enthält Titel zu Hamanns Leben und Werk und soll beständig aktualisiert werden. 

        <p>Im weiteren Verlauf der Edition werden außerdem erstellt: eine Verschlagwortung der Forschungsliteratur; eine Zeitleiste zum Leben Hamanns (welche die Zuordnung von Ereignissen und Aufenthaltsorten zu entsprechenden Briefen erleichtert). 

        <p>Die Online-Publikation der Briefe und des Stellenkommentars ermöglicht eine kontinuierte Revision desselben. Wir möchten Sie einladen, mit Ergänzungen, Korrekturen und Vorschlägen zu dessen Verbesserung beizutragen. Senden Sie uns diese an <a href="mailto:post@hamann-ausgabe.de">post@hamann-ausgabe.de</a>. Nach unserer Prüfung fügen wir diese in den Online-Kommentar ein (auf Wunsch auch mit Namensnennung des Beiträgers).


        <h3>Zitierempfehlung</h3>
        <p class="!mb-1"><span class="font-bold">kurz:
        <div class="pl-3 border-l-4 unhyphenate">
            <p class="!mt-1">Johann Georg Hamann: Kommentierte Briefausgabe. Hg. von Leonard Keidel und Janina Reibold  (Heidelberg 2020 ff.). URL: www.hamann-ausgabe.de [= HKB]
        </div>
        <p class="!mb-1"><span class="font-bold">ausführlich:
        <div class="pl-3 border-l-4 unhyphenate">
            <p class="!mt-1">Johann Georg Hamann: Kommentierte Briefausgabe. Hg. von Leonard Keidel und Janina Reibold, auf Grundlage der Vorarbeiten Arthur Henkels, unter Mitarbeit von Gregor Babelotzky, Konrad Bucher, Christian Großmann, Carl Friedrich Haak, Luca Klopfer, Johannes Knüchel, Isabel Langkabel und Simon Martens (Heidelberg 2020 ff.). URL: www.hamann-ausgabe.de [= HKB]
        </div>
    </div>
</div>