@{
    ViewData["Title"] = "HKB – Zitierempfehlung";
    ViewData["SEODescription"] = "Johann Georg Hamann: Kommentierte Briefausgabe. Zitierempfehlung.";
}

<div class="ha-static">
    <div class="ha-static-right-margin">
        <h1>Zitierempfehlung</h1>
        <p class="!mb-1"><span class="font-bold">kurz:
        <div class="pl-3 border-l-4 unhyphenate">
            <p class="!mt-1">Johann Georg Hamann: Kommentierte Briefausgabe. Hg. von Leonard Keidel und Janina Reibold  (Heidelberg 2020 ff.). URL: www.hamann-ausgabe.de [= HKB]
        </div>
        <p class="!mb-1"><span class="font-bold">ausführlich:
        <div class="pl-3 border-l-4 unhyphenate">
            <p class="!mt-1">Johann Georg Hamann: Kommentierte Briefausgabe. Hg. von Leonard Keidel und Janina Reibold, auf Grundlage der Vorarbeiten Arthur Henkels, unter Mitarbeit von Gregor Babelotzky, Konrad Bucher, Christian Großmann, Carl Friedrich Haak, Luca Klopfer, Johannes Knüchel, Isabel Langkabel und Simon Martens (Heidelberg 2020 ff.). URL: www.hamann-ausgabe.de [= HKB]
        </div>
    </div>
</div>