@{
ViewData["Title"] = "Essais à la Mosaique. Kunstrichter. Hirtenbriefe";
ViewData["SEODescription"] = "Johann Georg Hamann: Essais à la Mosaique. Kunstrichter. Hirtenbriefe. Informationen zur Ausgabe.";
}
<div class="ha-static">
    <h1 class="!leading-tight">Essais à la Mosaique. Kunstrichter. Hirtenbriefe</h1>
    <div class="ha-static-right-margin relative">
        <h3>In Vorbereitung</h3>
        <div class="pl-3 border-l-4 unhyphenate">
            <p>Johann Georg Hamann: Essais à la Mosaique. Kunstrichter. Hirtenbriefe. Mit einer Einführung und einem
                Stellenkommentar hg. von Konrad Bucher, Leonard Keidel und Janina Reibold
            <p>Voraussichtlicher Erscheinungstermin: Frühjahr 2027 in der Philosophischen Bibliothek im Felix Meiner
                Verlag, Hamburg.
        </div>

        <p>Enthält folgende Schriften:
        <ul class="list-disc ml-8">
            <li>Essais à la Mosaique (1762)</li>
            <li>Lettre néologique</li>
            <li>Glose Philippique</li>
            <li>Schriftsteller und Kunstrichter / Leser und Kunstrichter (1762)</li>
            <li>Fünf Hirtenbriefe das Schuldrama betreffend (1763)</li>
        </ul>
    </div>
</div>
