@{
    ViewData["Title"] = "HKW – Fliegender Brief";
    ViewData["SEODescription"] = "Johann Georg Hamann: Fliegender Brief. Informationen zur Ausgabe.";
}

<div class="ha-static">
<h1 class="!leading-tight">Fliegender Brief</h1>
<div class="ha-static-right-margin relative">

<div class="hidden desktop:flex desktop:my-0 desktop:flex-col desktop:absolute desktop:right-0">
    <div><img src="/img/FliegenderBrief.jpg" class="w-72"/></div>
    <div>Im Buch blättern (<a href="https://meiner.de/reading/web/?isbn=9783787334230">‣</a>)</div>
</div>

<div class="pl-3 border-l-4 unhyphenate">
<p>Johann Georg Hamann: Fliegender Brief. Historisch-kritische Ausgabe. Mit einer Einführung, Kommentar und Dokumenten zur Entstehungsgeschichte hg. von Janina Reibold, 2 Bde. [=&nbsp;Philosophische Bibliothek 707] (Hamburg: Felix Meiner Verlag 2018) [ISBN:&nbsp;978-3-7873-3423-0]&nbsp;(<a href="https://meiner.de/fliegender-brief.html">‣</a>)

<p>Auch als Lizenzausgabe der Wissenschaftlichen Buchgesellschaft 2018 erschienen. (<a href="https://www.wbg-wissenverbindet.de/shop/30018/fliegender-brief">‣</a>)
</div>
<div class="flex flex-row gap-x-3 my-6 desktop:hidden">
    <div><img src="/img/FliegenderBrief.jpg" class="w-72"/></div>
    <div>Im Buch blättern (<a href="https://meiner.de/reading/web/?isbn=9783787334230]">‣</a>)</div>
</div>

<p>Die erste vollständige historisch-kritische Edition des Fragment gebliebenen, großen Schreibprojektes des »aufgeklärten« Aufklärers J.G. Hamann. Die zweibändige Ausgabe bietet sämtliche Handschriften und Druckbogen zum »Fliegenden Brief« in chronologischer Folge, diplomatisch transkribiert und als Faksimile reproduziert. Eine ausführliche Einführung, ein umfangreicher Kommentar sowie zahlreiche Dokumente zur Entstehungsgeschichte erschließen das Werk.

<p>Mit dem »Fliegenden Brief« beabsichtigte Hamann zwischen 1785 und 1787 seine literarische Tätigkeit zu beschließen. Dem Anspruch nach wollte er sein gesamtes Schreiben und Denken öffentlich reflektieren und dabei insbesondere Darstellungsfragen diskutieren sowie seinen vielgescholtenen dunklen Stil und das von ihm entwickelte Verfahren der indirekten Mitteilung rechtfertigen. In einer dramatischen, 16 Monate währenden literarischen Berg- und Talfahrt scheiterte er schließlich daran, das anspielungsreiche, hochreflektierte und von radikalem Sprachdenken geprägte Werk zum Abschluss zu bringen, das mit den Worten endet: »usw. ich kann nicht mehr –«. 

<p>Vom »Fliegenden Brief« sind Dutzende von Entwürfen überliefert. Kein anderes Schreibprojekt ermöglicht daher bessere Einblicke in die Produktionsbedingungen und die Hamann’sche Arbeitsweise, die sich durch Kombination und Re-Kombination der unterschiedlichsten Quellen und Zitate auszeichnet. Die zweibändige Ausgabe bietet erstmals eine historisch-kritische und kommentierte Edition sämtlicher Dokumente zum »Fliegenden Brief«. Ein Spezifikum der Ausgabe ist ihr zweigeteilter Kommentar. Zum einen findet sich in der Marginalspalte der Edition jeweils eine kurze Annotation, die den konkreten Anspielungshorizont der Stelle unmittelbar vor Augen führt. Zum anderen bietet der zweite Band der Ausgabe einen ausführlichen Kommentar, der sich strukturell nach Quellenarten (Klassisches Altertum, Neuzeit, Bibel) sowie in einen Personen-, Wort- und Sachkommentar aufgliedert. Neben Edition und Kommentar enthält die Ausgabe eine ausführliche Einführung sowie umfangreiche Dokumente zur Entstehungsgeschichte – und bietet der Forschung erstmals eine solide Basis für die Beschäftigung mit einem der wichtigsten und zugleich schwierigsten Texte des Hamann’schen Werks. 

<h3>Rezensionen</h3>
<ul class="list-disc">
    <li>Martin Endres in: Editionen in der Kritik 11 (2021), S. 290–297 
    <li>Daniel Elon in: Hegel-Studien 53/54 (2020), S. 324–326
    <li>Eckhard Schumacher in: Frankfurter Allgemeine Zeitung, 2.9.2020, S. N3
    <li>Wilhelm Schmidt-Biggemann in: Philosophische Rundschau 67 (2020), H. 1, S. 70–74
    <li>Cord Friedrich Berghahn in: Germanisch-Romanische Monatsschrift 69.2 (2019), S. 216–219
    <li>Volker Hoffmann in: Arbitrium 37 (2019), S. 76–79
    <li>Thomas Meyer in: Süddeutsche Zeitung, 26.4.2018, S. 12
    <li>Till Kinzel in: IFB 18-2 (2018).
</ul>

<h3>Zitate aus den Rezensionen</h3>
»Faszinierende Ausgabe [...] , deren Präzision und philologische Umsicht man gar nicht genug loben kann.« <br><span class="italic">Cord-Friedrich Berghahn, Germanisch-Romanische Monatsschrift 69.2 (2019)
</span>

<p>»Der Anspruch der Heidelberger Germanistin, Hamanns Selbstkritik „erstmals lesbar zu machen“, ist angesichts von vier schon vorliegenden Ausgaben ehrgeizig, aber sie löst ihn mit ihrer in jeder Hinsicht wegweisenden Edition souverän ein.« <br><span class="italic">Eckhard Schumacher, FAZ, 2.9.2020</span>

<p>»Die Transkription der parallel mitabgedruckten Manuskripte ist an editorischer Akribie und Sorgfalt kaum zu überbieten. Dies geht auch aus Reibolds ausführlicher Darlegung der Editionsprinzipien hervor, bis hin zu kleinsten graphischen Details . Mehr ist in dieser Hinsicht tatsächlich nicht möglich.« <br><span class="italic">Daniel Elon, Hegel-Studien 53/54</span>

<p>»[U]nter einer bestimmten Perspektive ist es tatsächlich beinahe ›unvorstellbar‹, einen Text von Hamann zu edieren – und zwar mit Blick auf die Kommentierung. […] Janina Reibold hat sich dieser Ausgabe nicht nur angenommen, sie hat sie […] mit Bravour und in beeindruckender Weise bewältigt. […] Zu resümieren, dass die historisch-kritische Ausgabe von Janina Reibold aus all den genannten Gründen von nun an und uneingeschränkt als die einzige wissenschaftlich zitierfähige Edition von Hamanns Fliegendem Brief angesehen werden muss, mag angesichts ihrer Qualität selbstverständlich und banal klingen – und doch kann dies […] nicht oft genug wiederholt werden.«<br><span class="italic">Martin Endres, Editionen in der Kritik 11 (2021)</span>
</div>
</div>