@{
ViewData["Title"] = "Johann Georg Hamann: Kommentierte Neuedition ausgewählter Werke";
ViewData["SEODescription"] = "Informationen zur kommentierten Werkausgabe (HKW)";
}

<div class="ha-static">
    <h1>Kommentierte Neuedition ausgewählter Werke</h1>
    <div class="ha-static-right-margin">

        <p>Die editionsgeschichtlichen Voraussetzungen der Neuedition ausgewählter Schriften Hamanns können Sie hier
            nachlesen [<a class="" asp-controller="HKW" asp-action="Editionsgeschichte">‣</a>].
        <p>Im Rahmen der historisch-kritischen und kommentierten Hamann-Ausgabe (HKW) werden:
        <ul class="list-disc ml-8">
            <li>sämtliche überlieferte Materialien im Zusammenhang mit dem jeweiligen Werk historisch-kritisch ediert
            </li>
            <li>sämtliche überlieferte handschriftliche Annotationen Hamanns differenziert zum Drucktext vermerkt.
                Kontamination verschiedener Textträger sind methodisch ausgeschlossen.</li>
            <li>Auszeichnungen sowie die typographische Eigentümlichkeit der Texte differenziert in eine moderne
                Typographie übersetzt</li>
            <li>Texteingriffe, wo diese nötig sind, als solche gekennzeichnet.</li>
        </ul>


        <p>Der Kommentar erfolgt entweder als Stellen-, oder als systematisch aufgebauter Kommentar. Darüber hinaus
            enthält jeder Band:
        <ul class="list-disc ml-8">
            <li>eine ausführliche Einleitung</li>
            <li>Dokumente zur Entstehungsgeschichte</li>
            <li>eine Bibliographie</li>
        </ul>

        <h3>Bereits erschienene Bände</h3>
        <div class="pl-3 border-l-4 unhyphenate">
            Johann Georg Hamann, <span class="italic">Fliegender Brief.</span> Historisch-kritische Ausgabe. Mit einer
            Einführung, Kommentar und Dokumenten zur Entstehungsgeschichte hg. von Janina Reibold, 2 Bde. [=
            Philosophische Bibliothek 707] (Hamburg: Meiner Verlag 2018) [<a class="" asp-controller="HKW"
                asp-action="FliegenderBrief">‣</a>]
        </div>

        <p>
        <div class="pl-3 border-l-4 unhyphenate">
            Johann Georg Hamann, <span class="italic">Sokratische Denkwürdigkeiten. Wolken.</span> Historisch-kritische
            Ausgabe. Mit einer Einführung und einem Stellenkommentar hg. von Janina Reibold und Leonard Keidel, unter
            Mitarbeit von Konrad Bucher. [= Philosophische Bibliothek 748] (Hamburg: Meiner Verlag 2021) [<a class=""
                asp-controller="HKW" asp-action="SokratischeDenkwuerdigkeiten">‣</a>]
        </div>

        <h3>In Vorbereitung</h3>
        Kreuzzüge des Philologen. Intermezzo [<a class="" asp-controller="HKW" asp-action="Kreuzzuege">‣</a>]<br>
        Essais à la Mosaique. Kunstrichter. Hirtenbriefe [<a class="" asp-controller="HKW" asp-action="Essais">‣</a>]
    </div>
</div>
