@{
    ViewData["Title"] = "Hamann: Werkausgabe";
    ViewData["SEODescription"] = "Informationen zur kommentierten Werkausgabe (HKW)";
}

<div class="ha-static">
    <h1>Kommentierte Neuedition ausgewählter Werke</h1>
	<div class="ha-static-right-margin">
	
        <p>Die Edition der Werke Hamanns durch Josef Nadler<a class="ha-sup" name="FnZ-1" href="#FnA-1">1</a> ist problematisch und wird von der Hamann-Philologie bereits seit Erscheinen des ersten Bandes stark kritisiert.<a class="ha-sup" name="FnZ-2" href="#FnA-2">2</a> Die Kritik betrifft einerseits die konzeptionelle Schwäche der Ausgabe, die Schriften nach Sach- anstelle von Zeitgruppen anzuordnen, andererseits und vor allem jedoch textkritische Probleme wie unzählige Fehllesungen, falsche Manuskriptanordnungen sowie Nadlers willkürlichen Umgang mit den handschriftlichen Annotationen Hamanns, die von ihm meist ohne Nachweis und Angabe von Gründen mit dem Drucktext vermischt wurden. Aus diesen Gründen wird im Rahmen der Kommentierten Hamann-Ausgabe die Neuedition ausgewählter Schriften Hamanns mit Kommentar erfolgen. Dabei werden
        <ul class="list-disc ml-8">
            <li>sämtliche überlieferte Materialien im Zusammenhang mit dem jeweiligen Werk historisch-kritisch ediert</li>
            <li>sämtliche überlieferte handschriftliche Annotationen Hamanns differenziert zum Drucktext vermerkt. Kontamination verschiedener Textträger sind methodisch ausgeschlossen.</li>
            <li>Auszeichnungen sowie die typographische Eigentümlichkeit der Texte differenziert in eine moderne Typographie übersetzt</li>
            <li>Texteingriffe, wo diese nötig sind, als solche gekennzeichnet.</li>
        </ul>
        

        <p>Der Kommentar wird sowohl als Stellen-, als auch als systematisch aufgebauter Kommentar erfolgen. Darüber hinaus wird jeder Band
        <ul class="list-disc ml-8">
            <li>eine ausführliche Einleitung</li>
            <li>Dokumente zur Entstehungsgeschichte</li>
            <li>eine Bibliographie</li>
        </ul>
        <p>enthalten.
        
        <h3>Bereits erschienene Bände</h3>
            Johann Georg Hamann, <span class="italic">Fliegender Brief.</span> Historisch-kritische Ausgabe. Mit einer Einführung, Kommentar und Dokumenten zur Entstehungsgeschichte hg. von Janina Reibold, 2 Bde. [= Philosophische Bibliothek 707] (Hamburg: Meiner Verlag 2018) [<a class="" asp-controller="HKW" asp-action="FliegenderBrief">‣</a>]
            <p>Johann Georg Hamann, <span class="italic">Sokratische Denkwürdigkeiten. Wolken.</span> Historisch-kritische Ausgabe. Mit einer Einführung, einem Stellenkommentar und Dokumenten zur Entstehungsgeschichte hg. von Janina Reibold und Leonard Keidel. Unter Mitarbeit von Konrad Bucher. [= Philosophische Bibliothek 748] (Hamburg: Meiner Verlag 2021) [<a class="" asp-controller="HKW" asp-action="SokratischeDenkwuerdigkeiten">‣</a>]
        <h3>Geplante Bände</h3>
        Kreuzzüge des Philologen [<a class="" asp-controller="HKW" asp-action="Kreuzzuege">‣</a>]
        <div class="my-8 mx-8">
            <div class="ha-footnote"><a class="ha-sup ha-footnote-ref" name="FnA-1" href="#FnZ-1">1</a> Johann Georg Hamann, Sämtliche Werke. Historisch-kritische Ausgabe. Hg. v. Josef Nadler. 6 Bde. (Wien 1949–57).</div>
            <div class="ha-footnote"><a class="ha-sup ha-footnote-ref" name="FnA-2" href="#FnZ-2">2</a> Vgl. etwa Walter Boehlich, Forschungsbericht. Die historisch-kritische Hamann-Ausgabe, in: Euphorion 50 (1956), 341–356.</div>
        </div>
    </div>
</div>