@{
    ViewData["Title"] = "HKW – Kreuzzüge des Philologen";
    ViewData["SEODescription"] = "Johann Georg Hamann: Kreuzzüge des Philologen. Informationen zur Ausgabe.";
}
<div class="ha-static">
<h1 class="!leading-tight">Kreuzzüge des Philologen</h1>
<div class="ha-static-right-margin relative">
<h3>In Vorbereitung</h3>
<div class="pl-3 border-l-4 unhyphenate">
<p>Johann Georg Hamann: »Kreuzzüge des Philologen« und weitere Essais von 1762/63. Mit einer Einführung und einem Stellenkommentar hg. von Konrad Bucher, Leonard Keidel und Janina Reibold
<p>Voraussichtlicher Erscheinungstermin: Frühjahr 2024 als zweibändige Ausgabe der Philosophischen Bibliothek im Felix Meiner Verlag, Hamburg.
</div>

<p>Enthält die Schriften:
<ul class="list-disc ml-8">
<li>Kreuzzüge des Philologen (1762), darin: Versuch über eine akademische Frage (1760), Vermischte Anmerkungen über die Wortfügung in der französischen Sprache (1760), Die Magi aus Morgenlande zu Bethlehem (1760), Klaggedicht in Gestalt eines Sendschreibens über die Kirchenmusick (1761), Französisches Project einer nützlichen, bewährten und neuen Einpfropfung (1761), Chimärische Einfälle (1761), Kleeblatt hellenistischer Briefe (1762), Näschereyen in die Dreßkammer eines Geistlichen, in Oberland (1762), Aesthaetica. in. nuce. Eine Rhapsodie in Kabbalistischer Prose (1762), 
Lateinisches Exercitium (1751), Jugendliche Gelegenheitsgedichte (1756), Denkmal (1756). 
<li>Essais à la Mosaique (1762), darin: Lettre néologique und Glose Philippique
<li>Schriftsteller und Kunstrichter / Leser und Kunstrichter (1762)
<li>Mitauisches Intermezzo: Hamburgische Nachricht; Göttingsche Anzeige; Berlinsche Beurtheilung der Kreuzzüge des Philologen (1763)
<li>Fünf Hirtenbriefe das Schuldrama betreffend (1763)
</ul>
</div>
</div>