@{
    ViewData["Title"] = "HKW – Kreuzzüge des Philologen. Intermezzo.";
    ViewData["SEODescription"] = "Johann Georg Hamann: Kreuzzüge des Philologen. Intermezzo. Informationen zur Ausgabe.";
}
<div class="ha-static">
<h1 class="!leading-tight">Kreuzzüge des Philologen. Intermezzo</h1>
<div class="ha-static-right-margin relative">
<h3>In Vorbereitung</h3>
<div class="pl-3 border-l-4 unhyphenate">
<p>Johann Georg Hamann: Kreuzzüge des Philologen. Intermezzo. Mit einer Einführung und einem Stellenkommentar hg. von Konrad Bucher, Leonard Keidel und Janina Reibold
<p>Voraussichtlicher Erscheinungstermin: Frühjahr 2025 als zweibändige Ausgabe der Philosophischen Bibliothek im Felix Meiner Verlag, Hamburg.
</div>

<p>Enthält folgende Schriften:
<ul class="list-disc ml-8">
<li>Kreuzzüge des Philologen (1762)</li>
<li>[Zuschrift] Dem Leser und der Rose!</li>
<li>Versuch über eine akademische Frage</li>
<li>Vermischte Anmerkungen über die Wortfügung in der französischen Sprache</li>
<li>Die Magi aus Morgenlande zu Bethlehem</li>
<li>Klaggedicht in Gestalt eines Sendschreibens über die Kirchenmusick</li>
<li>Französisches Project einer nützlichen, bewährten und neuen Einpfropfung</li>
<li>Chimärische Einfälle</li>
<li>Kleeblatt hellenistischer Briefe</li>
<li>Näschereyen in die Dreßkammer eines Geistlichen, in Oberland</li>
<li>AESTHAETICA. IN. NVCE. Eine Rhapsodie in Kabbalistischer Prose</li>
<li>Lateinisches Exercitium</li>
<li>Jugendliche Gelegenheitsgedichte</li>
<li>Denkmal</li>
<li>Kleiner Versuch eines Registers über den einzigen Buchstaben P.</li>
<li>Intermezzo [= Hamburgische Nachricht; Göttingsche Anzeige; Berlinsche Beurtheilung der Kreuzzüge des Philologen] (1763)</li>
</ul>
</div>
</div>