@{
    ViewData["Title"] = "Kreuzzüge des Philologen";
    ViewData["SEODescription"] = "Johann Georg Hamann: Kreuzzüge des Philologen. Informationen zur Ausgabe.";
}
<div class="ha-static">
<h1 class="!leading-tight">Kreuzzüge des Philologen</h1>
<div class="ha-static-right-margin relative">

</div>
</div>