@{
    ViewData["Title"] = "HKW – Mitwirkende";
    ViewData["SEODescription"] = "Johann Georg Hamann: Kritische und kommentierte Edition ausgewählter Werke. Mitwirkende.";
}

<div class="ha-static">
<h1>Mitwirkende</h1>
<div class="ha-static-right-margin relative">
<h3>Herausgeber</h3>
Dr. Janina Reibold<br>
Leonard Keidel

<h3>Philologische Mitarbeit</h3>
Dr. Gregor Babelotzky (seit 2019)<br>
Konrad Bucher (seit 2019)<br>
Luca Klopfer (seit 2016)

<h3>Technische Umsetzung Homepage</h3>
Simon Martens (seit 2014)<br>

<h3>Ehemalige Mitwirkende</h3>
Isabel Langkabel (2014–2019)<br>
Carl Friedrich Haak (2014–2020)<br>
Johannes Knüchel (2016–2020)<br>
Christian Großmann (2018–2019)

</div>
</div>