@{
    ViewData["Title"] = "Sokratische Denkwürdigkeiten. Wolken";
    ViewData["SEODescription"] = "Johann Georg Hamann: Sokratische Denkwürdigkeiten. Wolken. Informationen zur Ausgabe.";
}

<div class="ha-static">
<h1 class="!leading-tight">Sokratische Denkwürdigkeiten.<br/>Wolken</h1>
<div class="ha-static-right-margin relative">

<div class="hidden desktop:flex desktop:my-0 desktop:flex-col desktop:absolute desktop:right-10">
    <div><img src="/img/Denkwuerdigkeiten.jpg" class="w-60"/></div>
    <div>Im Buch blättern (<a href="https://meiner.de/reading/web/?isbn=9783787339617">‣</a>)</div>
</div>

<div class="pl-3 border-l-4 unhyphenate">
<p>Johann Georg Hamann: Sokratische Denkwürdigkeiten. Wolken. Historisch-kritische Ausgabe. Mit einer Einführung, einem Stellenkommentar und Dokumenten zur Entstehungsgeschichte hg. von Janina Reibold und Leonard Keidel. Unter Mitarbeit von Konrad Bucher. [= Philosophische Bibliothek 748] (Hamburg: Felix Meiner Verlag 2021) [ISBN:&nbsp;978-3-7873-3961-7]  (<a href="https://meiner.de/sokratische-denkwurdigkeiten-wolken.html">‣</a>)
</div>

<div class="flex flex-row gap-x-3 my-6 desktop:hidden">
    <div><img src="/img/Denkwuerdigkeiten.jpg" class="w-52"/></div>
    <div>Im Buch blättern (<a href="https://meiner.de/reading/web/?isbn=9783787339617">‣</a>)</div>
</div>


<p>Als Johann Georg Hamann 1759 die Bühne der Publizistik betritt, irritiert er sofort. Ist er ein Philosoph oder ein Phantast? Ist er verrückt oder ist die Idiotie des Textes literarische Maskerade? Seine »Sokratischen Denkwürdigkeiten» porträtieren die Leitfigur der philosophischen Aufklärung: Sokrates.

<p>Hamanns Essay zeigt Sokrates abhängig im sozialen Gefüge; darin ist das Postulat des Nicht­Wissens strategisch und für Hamann auch sophistisch, ebenso wie die neuzeitliche Version des Nicht­Wissens bei Descartes. Der Text positioniert sich dabei subtil kritisch auch gegen die philosophische Ambition des Königsberger Freundes Immanuel Kant. Der zweite, hier erstmalig kommentierte Text, die »Wolken«, reagiert auf die Hamann von zeitgenössischen Rezensenten zum Vorwurf gemachte »Dunkelheit« seiner Texte. Hamann druckt zunächst einen Verriss der »Denkwürdigkeiten« vollständig ab, um ihn sodann mit kritischen Anmerkungen zu versehen. Die Freude an der Provokation und Hamanns Witz tritt in wenigen Schriften so deutlich zutage wie in seinen »Wolken«. Darin geht es um nichts weniger als um die Fundamente der Hermeneutik, die Grenze zwischen Genie und Wahnsinn, Sinn und Unsinn, Verstehen und Nicht­Verstehen. Die Ausgabe bietet eine historisch-­kritische Neuedition der beiden ersten Schriften Hamanns sowie der später von ihm ergänzten handschriftlichen Notizen. 

<h3>Presse/Rezensionen</h3>
<ul class="list-disc">
    <li>Sachbuch des Monats 02/2022 (Die Welt, Neue Zürcher Zeitung, RBB Kultur und ORF-Radio Österreich 1)</li>
    <li>Eberhard Geisler in: Frankfurter Rundschau, 27.12.2021, S. 30 (<a href="https://www.fr.de/kultur/literatur/johann-georg-hamann-produktive-unruhe-91201612.html">‣</a>). </li>
    <li>Jürgen Kaube in: Frankfurter Allgemeine Zeitung, 30.11.2021, S. 10 [Weihnachtsempfehlung]. </li>
    <li>Helmut Mauró in: Süddeutsche Zeitung, 27./28.11.2021, S. 23 [Weihnachtsempfehlung].</li>
</ul>

<h3>Zitate aus den Rezensionen</h3>
»Die Lektüre der ›Denkwürdigkeiten‹ und ›Wolken‹ ist nicht gerade einfach, aber sie wird durch die informativen Kommentare von Keidel und Reibold in die richtigen Bahnen gelenkt und erleichtert. Dazu kommt, dass die Ausgabe auch äußerlich sehr schön gemacht ist und damit Hamanns Forderung entspricht, dass Geist sinnlich erfahrbar sein soll. Da sollte man sich selbst die Anschaffung wert sein.« <span class="italic">Frankfurter Rundschau, Eberhard Geisler, 27.12.2021</span>

</div>
</div>