@{
    ViewData["Title"] = "Hamann: Übersicht über das Gesamtwerk.";
    ViewData["SEODescription"] = "Johann Georg Hamann: Übersicht über das Gesamtwerk.";
}

<div class="ha-static">
<h1 class="!leading-tight">Werkübersicht</h1>
<div class="ha-static-right-margin relative">

</div>
</div>