@{
    ViewData["Title"] = "HKW – Übersicht über das Gesamtwerk.";
    ViewData["SEODescription"] = "Johann Georg Hamann: Übersicht über das Gesamtwerk.";
}

<div class="ha-static">
    <h1 class="!leading-tight">Werkübersicht</h1>
    <div class="relative">
    <table>
        <tr >
            <th class="pb-4">Schriften (chronologisch)</th>
        </tr>
        <tr>
            <td class="w-1/2 !pr-14">
            <p>Beiträge in der Wochenschrift »Daphne« (1749–50)

            </td>
            <td>
                <p>Kohnen, Joseph (Hg.): »Daphne«. Nachdruck der von Johann Georg Hamann, Johann Gotthelf Lindner u.a. herausgegebenen Königsberger Zeitschrift (1749–1750). Mit einem Nachwort von dems. In: Regensburger Beiträge zur deutschen Sprach- und Literaturwissenschaft 5, Reihe A. Quellen. Hg. v. Bernhard Gajek. Frankfurt a. M. (u.a.) 1991.
                <p>Josef Nadler: Sämtliche Werke, Bd.4, 13–34.
            </td>
        </tr>
        <tr>
            <td class="w-1/2 !pr-14"><span class="italic">
                <p>Commentatio Philosophica De Somno Et Somniis</span> (1751), auch erschienen in: <span class="italic">Kreuzzüge: Lateinisches Exercitium</span>
            </td>
            <td></td>
        </tr>
        <tr>
            <td class="w-1/2 !pr-14"><span class="italic">
                <p>Trauerschrift auf den Tod der Hochedlen Frau, Catharina Elisabeth Rentzen, gebornen Saturgus</span> (1752)</td>
            <td>
                <p>Josef Nadler: Sämtliche Werke, Bd.4, 35–39.
            </td>
        </tr>
        <tr>
            <td class="w-1/2 !pr-14">
                <p>Notizbücher (unveröffentlicht)
            </td>
            <td>
                <p>Josef Nadler: Sämtliche Werke, Bd.5, 127–372.
            </td>
        </tr>
        <tr>
            <td class="w-1/2 !pr-14">
                <p>Londoner Schriften (Über die Auslegung der heil. Schrift, Biblische Betrachtungen, Gedanken über meinen Lebenslauf, Gedanken über Kirchenlieder, Brocken, Betrachtungen über Newtons Abhandlung von den Weissagungen) (unveröffentlicht)
            </td>
            <td>
                <p>Johann Georg Hamann, Londoner Schriften. Hg. v. Oswald Bayer und Bernd Weißenborn. München 1993.
                <p>Josef Nadler: Sämtliche Werke, Bd.1, Über die Auslegung 5f.; Biblische Betrachtungen 7–249; Betrachtungen zu Kirchenliedern 250–297; Brocken 298–309; Betrachtungen über Newtons Abhandlung 315–319; Bd.2, Gedanken über meinen Lebenslauf 9–54.</td>
        </tr>
        <tr>
            <td class="w-1/2 !pr-14"><span class="italic">
                <p>Des Herrn von Dangueil Anmerkungen über die Vortheile und Nachtheile von Frankreich und Grossbritannien in Ansehung des Handels und der übrigen Quellen von der Macht der Staaten. Auszug eines Werks des Bernardo de Ulloa über die Wiederherstellung der Manufacturen und des Handels in Spanien; Beylage des deutschen Übersetzers</span> (1756/1757)  (Übersetzung mit eigenem Nachwort)
            </td>
            <td>
                <p>Josef Nadler: Sämtliche Werke, Bd.4, Beylage 225–242.
            </td>
        </tr>
        <tr>
            <td class="w-1/2 !pr-14"><span class="italic">
                <p>Sokratische Denkwürdigkeiten</span> (1759)
            </td>
            <td>
                <p>Johann Georg Hamann: Sokratische Denkwürdigkeiten. Wolken. Historisch-kritische Ausgabe. Mit einer Einführung und einem Stellenkommentar hg. von Leonard Keidel und Janina Reibold. Unter Mitarbeit von Konrad Bucher. Hamburg 2021.

                <p>Johann Georg Hamann: Sokratische Denkwürdigkeiten. Aesthetica in nuce. Hg. v. Sven-Aage Jørgensen. Stuttgart 1998.

                <p>Blanke, Fritz u. Lothar Schreiner (Hg.): Hamanns Hauptschriften erklärt. Bd. 2. Johann Georg Hamann. Sokratische Denkwürdigkeiten. Erklärt von Fritz Blanke. Gütersloh 1959.

                <p>Josef Nadler: Sämtliche Werke, Bd.1, 57–82.
            </td>
        </tr>
        <tr>
            <td class="w-1/2 !pr-14"><span class="italic">
                <p>Versuch über eine akademische Frage</span> (1760), auch erschienen in: <span class="italic">Kreuzzüge
            </td>
            <td></td>
        </tr>
        <tr>
            <td class="w-1/2 !pr-14"><span class="italic">
                <p>Vermischte Anmerkungen über die Wortfügung in der französischen Sprache</span> (1760), auch erschienen in: <span class="italic">Kreuzzüge</span>
            </td>
            <td></td>
        </tr>
        <tr>
            <td class="w-1/2 !pr-14">
                <p><span class="italic">Die Magi aus Morgenlande zu Bethlehem</span> (1760), auch erschienen in: <span class="italic">Kreuzzüge</span>
            </td>
            <td></td>
        </tr>
        <tr>
            <td class="w-1/2 !pr-14">
                <p><span class="italic">Wolken. Ein Nachspiel Sokratischer Denkwürdigkeiten</span> (1761)
            </td>
            <td>
                <p>Johann Georg Hamann: Sokratische Denkwürdigkeiten. Wolken. Historisch-kritische Ausgabe. Mit einer Einführung und einem Stellenkommentar hg. von Leonard Keidel und Janina Reibold. Unter Mitarbeit von Konrad Bucher. Hamburg 2021.

                <p>Josef Nadler: Sämtliche Werke, Bd.1, 83–109
            </td>
        </tr>
        <tr>
            <td class="w-1/2 !pr-14"><span class="italic">
                <p>Klaggedicht in Gestalt eines Sendschreibens über die Kirchenmusick</span> (1761), auch erschienen in: <span class="italic">Kreuzzüge</span>
            </td>
            <td></td>
        </tr>
        <tr>
            <td class="w-1/2 !pr-14"><span class="italic">
                <p>Französisches Project einer nützlichen, bewährten und neuen Einpfropfung</span> (1761), auch erschienen in: <span class="italic">Kreuzzüge</span>
            </td>
            <td></td>
        </tr>
        <tr>
            <td class="w-1/2 !pr-14"><span class="italic">
                <p>Chimärische Einfälle</span> (1761), siehe <span class="italic">Kreuzzüge</span>
            </td>
            <td></td>
        </tr>
        <tr>
            <td class="w-1/2 !pr-14">
                <p><span class="italic">Kreuzzüge des Philologen</span> (1762), darin: <span class="italic">Kleeblatt hellenistischer Briefe</span> (1762), <span class="italic">Näschereyen in die Dreßkammer eines Geistlichen, in Oberland</span> (1762), <span class="italic">Aesthaetica. in. nuce. Eine Rhapsodie in Kabbalistischer Prose</span> (1762).
            </td>
            <td>
                <p>Johann Georg Hamann: Aesthetica in nuce. Eine Rhapsodie in kabbalistischer Prose. Hg. und komm. v. Éva Kocziszky. Wien 2021.

                <p>Johann Georg Hamann: Sokratische Denkwürdigkeiten. Aesthetica in nuce. Hg. v. Sven-Aage Jørgensen. Stuttgart 1998.

                <p>Johann Georg Hamann: Kleeblatt hellenistischer Briefe. Text mit Wiedergabe des Erstdruckes. Hg. u. komm. v. Karlheinz Löhrer. Frankfurt a. M. (u.a.) 1994.

                <p>Lumpp, Hans-Martin: Philologia crucis: Zu Johann Georg Hamanns Auffassung von der Dichtkunst. Mit einem Kommentar zur »Aesthetica in nuce« (1762). Tübingen 1970.

                <p>Josef Nadler: Sämtliche Werke, Bd.2, 113–246.
            </td>
        </tr>
        <tr>
            <td class="w-1/2 !pr-14">
                <p><span class="italic">Essais à la Mosaique</span> (1762), darin: <span class="italic">Lettre néologique und Glose Philippique</span>
            </td>
            <td>
                <p>Gajek, Bernhard (Hg.): Johann Georg Hamann und Frankreich. Acta des dritten Internationalen Hamann-Colloquiums im Herder-Institut zu Marburg/Lahn 1982 [Acta 1982]. Marburg 1987.

                <p>Josef Nadler: Sämtliche Werke, Bd.2, 277–297.
            </td>
        </tr>
        <tr>
            <td class="w-1/2 !pr-14">
                <p><span class="italic">Schriftsteller und Kunstrichter / Leser und Kunstrichter</span> (1762)
            </td>
            <td>
                <p>Josef Nadler: Sämtliche Werke, Bd.2, 329–349.
            </td>
        </tr>
        <tr>
            <td class="w-1/2 !pr-14">
                <p>Mitauisches Intermezzo: <span class="italic">Hamburgische Nachricht; Göttingsche Anzeige; Berlinsche Beurtheilung der Kreuzzüge des Philologen</span> (1763)
            </td>
            <td>
                <p>Josef Nadler: Sämtliche Werke, Bd.2, 241–273.
            </td>
        </tr>
        <tr>
            <td class="w-1/2 !pr-14">
                <p><span class="italic">Fünf Hirtenbriefe das Schuldrama betreffend</span> (1763)
            </td>
            <td>
                <p>Josef Nadler: Sämtliche Werke, Bd.2, 351–374.
            </td>
        </tr>
        <tr>
            <td class="w-1/2 !pr-14">
                <p>Beiträge in Königsberger Gelehrte und Politische Zeitungen (1764–1776), darin u.a. zu Kants ›Beobachtungen über das Gefühl des Schönen und Erhabenen‹ (1764), Teilübersetzung von Humes ›Treatise of Human Nature‹ (1771), über Matthias Claudius' ›Wandsbecker Boten‹ (1775), <span class="italic">Über den Styl zu Buffon</span> (1776)
            </td>
            <td>
                <p>Josef Nadler: Sämtliche Werke, Bd.4, 265–435.
            </td>
        </tr>
        <tr>
            <td class="w-1/2 !pr-14"><span class="italic">
                <p>Zwo Recensionen nebst einer Beylage, betreffend den Ursprung der Sprache</span> (1772)
            </td>
            <td>
                <p>Blanke, Fritz u. Lothar Schreiner (Hg.): Hamanns Hauptschriften erklärt. Bd. 4. Johann Georg Hamann. Zwo Recensionen nebst einer Beylage betreffend den Ursprung der Sprache. Des Ritters von Rosencreuz letzte Willensmeynung über den göttlichen und menschlichen Ursprung der Sprache. Philologische Einfälle und Zweifel. Au Salomon de Prusse. Erklärt v. Elfriede Büchsel. Gütersloh 1963.

                <p>Josef Nadler: Sämtliche Werke, Bd.3, 13–24.
            </td>
        </tr>
        <tr>
            <td class="w-1/2 !pr-14"><span class="italic">
                <p>Des Ritters von Rosencreuz letzte Willensmeynung über den göttlichen und menschlichen Ursprung der Sprache</span> (1772)
            </td>
            <td>
                <p>Blanke, Fritz u. Lothar Schreiner (Hg.): Hamanns Hauptschriften erklärt. Bd. 4. Johann Georg Hamann. Zwo Recensionen nebst einer Beylage betreffend den Ursprung der Sprache. Des Ritters von Rosencreuz letzte Willensmeynung über den göttlichen und menschlichen Ursprung der Sprache. Philologische Einfälle und Zweifel. Au Salomon de Prusse. Erklärt v. Elfriede Büchsel. Gütersloh 1963.

                <p>Josef Nadler: Sämtliche Werke, Bd.3, 25–33.
            </td>
        </tr>
        <tr>
            <td class="w-1/2 !pr-14">
                <p><span class="italic">Philologische Zweifel und Einfälle über eine akademische Preisschrift</span> (1772)
            </td>
            <td>
                <p>Josef Nadler: Sämtliche Werke, Bd.3, 35–53.
            </td>
        </tr>
        <tr>
            <td class="w-1/2 !pr-14"><span class="italic">
                <p>Au Salomon du Prusse</span> (1772)
            </td>
            <td>
                <p>Blanke, Fritz u. Lothar Schreiner (Hg.): Hamanns Hauptschriften erklärt. Bd. 4. Johann Georg Hamann. Zwo Recensionen nebst einer Beylage betreffend den Ursprung der Sprache. Des Ritters von Rosencreuz letzte Willensmeynung über den göttlichen und menschlichen Ursprung der Sprache. Philologische Einfälle und Zweifel. Au Salomon de Prusse. Erklärt v. Elfriede Büchsel. Gütersloh 1963.

                <p>Josef Nadler: Sämtliche Werke, Bd.3, 55–60.
            </td>
        </tr>
            <td class="w-1/2 !pr-14">
                <p><span class="italic">Selbstgespräch eines Autors</span> (1773)
            </td>
            <td>
                <p>Josef Nadler: Sämtliche Werke, Bd.3, 67–79.
            </td>
        </tr>
        <tr>
            <td class="w-1/2 !pr-14"><span class="italic">
                <p>An die Hexe von Kadmonbor</span> (1773)
            </td>
            <td>
                <p>Josef Nadler: Sämtliche Werke, Bd.3, 81–87.
            </td>
        </tr>
        <tr>
            <td class="w-1/2 !pr-14"><span class="italic">
                <p>Neue Apologie des Buchstaben h ; oder ausserordentliche Betrachtungen über die Orthographie der Deutschen</span> (1773)
            </td>
            <td>
                <p>Josef Nadler: Sämtliche Werke, Bd.3, 89–108.
            </td>
        </tr>
        <tr>
            <td class="w-1/2 !pr-14"><span class="italic">
                <p>Beylage zun Denkwürdigkeiten des seligen Sokrates</span> (1773)
            </td>
            <td>
                <p>Josef Nadler: Sämtliche Werke, Bd.3, 111–121.
            </td>
        </tr>
        <tr>
            <td class="w-1/2 !pr-14"><span class="italic">
                <p>Lettre perdue d'un sauvage du nord à un financier de Pe-Kim</span> (1773)
            </td>
            <td>
                <p>Josef Nadler: Sämtliche Werke, Bd.2, 299–316.
            </td>
        </tr>
        <tr>
            <td class="w-1/2 !pr-14">
                <p><span class="italic">Le kermes du nord ou la Cochenille de Pologne</span> (1774)
            </td>
            <td>
                <p>Josef Nadler: Sämtliche Werke, Bd.2, 317–322.
            </td>
        </tr>
        <tr>
            <td class="w-1/2 !pr-14">
                <p>Heinrich St. Johann Vitzgraf Bolingbroke [Betrachtungen über den Zustand der alten Geschichte] und Jakob Hervey [Anmerkungen zu Bolingbroke] (1774) (Übersetzung)
            </td>
            <td></td>
        </tr>
        <tr>
            <td class="w-1/2 !pr-14"><span class="italic">
                <p>Christiani Zacchaei Telonarchae Prolegomena über die neueste Auslegung der ältesten Urkunde des menschlichen Geschlechts</span> (1774)
            </td>
            <td>
                <p>Josef Nadler: Sämtliche Werke, Bd.3, 123–133.
            </td>
        </tr>
        <tr>
            <td class="w-1/2 !pr-14"><span class="italic">
                <p>Vetii Epagathi Regiomonticolae Hierophantische Briefe</span> (1775)
            </td>
            <td>
                <p>Blanke, Fritz u. Lothar Schreiner (Hg.): Hamanns Hauptschriften erklärt. Bd. 5. Johann Georg Hamann. Mysterienschriften. Hierophantische Briefe. Versuch einer Sibylle über die Ehe. Konxompax. Erklärt von Evert Jansen Schoonhoven. Schürze von Feigenblättern. Kritisch herausgegeben und erklärt von Martin Seils. Gütersloh 1962.

                <p>Josef Nadler: Sämtliche Werke, Bd.3, 135–167.
            </td>
        </tr>
        <tr>
            <td class="w-1/2 !pr-14"><span class="italic">
                <p>Versuch einer Sibylle über die Ehe</span> (1775)
            </td>
            <td>
                <p>Blanke, Fritz u. Lothar Schreiner (Hg.): Hamanns Hauptschriften erklärt. Bd. 5. Johann Georg Hamann. Mysterienschriften. Hierophantische Briefe. Versuch einer Sibylle über die Ehe. Konxompax. Erklärt von Evert Jansen Schoonhoven. Schürze von Feigenblättern. Kritisch herausgegeben und erklärt von Martin Seils. Gütersloh 1962.

                <p>Josef Nadler: Sämtliche Werke, Bd.3, 197–203.
            </td>
        </tr>
        <tr>
            <td class="w-1/2 !pr-14"><span class="italic">
                <p>Zweifel und Einfälle über eine vermischte Nachricht der allgemeinen deutschen Bibliothek</span> (1776)
            </td>
            <td>
                <p>Josef Nadler: Sämtliche Werke, Bd.3, 171–196.
            </td>
        </tr>
        <tr>
            <td class="w-1/2 !pr-14"><span class="italic">Schürze von Feigenblättern</span> (1777–79)</td>
            <td>
                Blanke, Fritz u. Lothar Schreiner (Hg.): Hamanns Hauptschriften erklärt. Bd. 5. Johann Georg Hamann. Mysterienschriften. Hierophantische Briefe. Versuch einer Sibylle über die Ehe. Konxompax. Erklärt von Evert Jansen Schoonhoven. Schürze von Feigenblättern. Kritisch herausgegeben und erklärt von Martin Seils. Gütersloh 1962.

                <p>Josef Nadler: Sämtliche Werke, Bd.3, 205–213.
            </td>
        </tr>
        <tr>
            <td class="w-1/2 !pr-14"><span class="italic">
                <p>Konxompax. Fragmente einer apokryphischen Sibylle über apokalyptische Mysterien</span> (1779)
            </td>
            <td>
                <p>Manegold, Ingemarie: Johann Georg Hamanns Schrift »Konxompax«. Fragmente einer apokryphischen Sibylle über apokalyptische Mysterien. Text, Entstehung und Bedeutung. Heidelberg 1963.

                <p>Blanke, Fritz u. Lothar Schreiner (Hg.): Hamanns Hauptschriften erklärt. Bd. 5. Johann Georg Hamann. Mysterienschriften. Hierophantische Briefe. Versuch einer Sibylle über die Ehe. Konxompax. Erklärt von Evert Jansen Schoonhoven. Schürze von Feigenblättern. Kritisch herausgegeben und erklärt von Martin Seils. Gütersloh 1962.

                <p>Josef Nadler: Sämtliche Werke, Bd.3, 215–228.
            </td>
        </tr>
        <tr>
            <td class="w-1/2 !pr-14">
                <p>Übersetzung von Humes ›Dialogues concerning Natural Religion‹ (1779/80) (unveröffentlicht)
            </td>
            <td></td>
        </tr>
        <tr>
            <td class="w-1/2 !pr-14">
                <p><span class="italic">Zwey Scherflein zur neusten deutschen Litteratur</span> (1780)
            </td>
            <td>
                <p>Josef Nadler: Sämtliche Werke, Bd.3, 229–242.
            </td>
        </tr>
        <tr>
            <td class="w-1/2 !pr-14">
                <p>Rezension von Kants ›Kritik der reinen Vernunft‹ (1781) (unveröffentlicht)
            </td>
            <td>
                <p>Josef Nadler: Sämtliche Werke, Bd.3, 275–280.
            </td>
        </tr>
        <tr>
            <td class="w-1/2 !pr-14">
                <p>Metakritik über den Purismum der Vernunft (1784) (unveröffentlicht)
            </td>
            <td>
                <p>Vernunft ist Sprache. Hamanns Metakritik Kants. Hg. v. Oswald Bayer, unter Mitarbeit von Benjamin Gleede und Ulrich Moustakas. Stuttgart-Bad Cannstatt 2002.

                <p>Josef Nadler: Sämtliche Werke, Bd.3, 281–289.
            </td>
        </tr>
        <tr>
            <td class="w-1/2 !pr-14"><span class="italic">
                <p>Golgatha und Scheblimini</span> (1784)
            </td>
            <td>
                <p>Blanke, Fritz u. Lothar Schreiner (Hg.): Hamanns Hauptschriften erklärt. Bd. 7. Johann Georg Hamann. Golgatha und Scheblimini. Erklärt von Lothar Schreiner. Gütersloh 1956.

                <p>Josef Nadler: Sämtliche Werke, Bd.3, 291–320.
            </td>
        </tr>
        <tr>
            <td class="w-1/2 !pr-14">
                <p>Entkleidung und Verklärung. Ein Fliegender Brief an Niemand den Kundbaren (1785–87) (unveröffentlicht)
            </td>
            <td>
                <p>Johann Georg Hamann: Fliegender Brief. Historisch-kritische Ausgabe. Mit einer Einführung, Kommentar und Dokumenten zur Entstehungsgeschichte hg. v. Janina Reibold, 2 Bde. Hamburg 2018.

                <p>Wild, Reiner: ›Metacriticus bonae spei‹. Johann Georg Hamanns ›Fliegender Brief‹: Einführung, Text und Kommentar. Bern (u.a.) 1975.

                <p>Josef Nadler: Sämtliche Werke, Bd.3, 348–407
            </td>
        </tr>
        <tr>
            <td class="w-1/2 !pr-14">
                <p>Über das Spinozabüchlein Friedrich Heinrich Jacobis (1787/88) (unveröffentlicht)
            </td>
            <td>
                <p>Josef Nadler: Sämtliche Werke, Bd.4, 456–459.
            </td>
        </tr>
        <tr>
            <td class="w-1/2 !pr-14">
                <p>Letztes Blatt (1787/88) (unveröffentlicht)
            </td>
            <td>
                <p>Bayer, Oswald und Christian Knudsen (Hg.): Kreuz und Kritik. Johann Georg Hamanns Letztes Blatt. Text und Interpretation. Tübingen 1983.

                <p>Josef Nadler: Sämtliche Werke, Bd.3, 409f.
            </td>
        </tr>
    </table>
    </div>
</div>

<span class="italic"></span>