@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<div class="mainhead row no-gutters">
    <div class="col">
        <div class="widehead">
            <div class="flexcol">
                <div class="flexrow" style="margin-bottom:-30px; align-items: last baseline;">
                    <div class="heading is-active">
                        Fehler
                    </div>
                </div>
                <div class="alphabet is-active">
                Die angeforderte Seite konnte nicht gefunden werden.
            </div>
            </div>
        </div>
    </div>
</div>