@page
@model HaLive.Pages.MitwirkendeModel

@{
    ViewData["Title"] = "Mitwirkende";
}

<div class="mainhead row"> <!-- + sticky-top if sticky -->
    <!--Sticky grey space on top of header -->
    <div class="col">
        <div class="widehead">
            <div class="flexcol">
                <div style="align-self: flex-end">
                    <br/>
                </div>
                <div class="flexrow" style="margin-bottom:-30px">
                    <div class="heading">
                        Mitwirkende
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row no-gutters">
    <div class="col">
        <div class="registerbox">
            <div class="text editionstext">
                
<div class="Ueberschrift2">Philologische Mitarbeit</div>

		Dr. Gregor Babelotzky (seit 2019)<br/>
		Konrad Bucher (seit 2019)<br/>
		Christian Großmann (2018–2019)<br/>
		Carl Friedrich Haak (2013–2018)<br/>
		Leonard Keidel (seit 2018)<br/>
		Luca Klopfer (seit 2016)<br/>
		Johannes Knüchel (2016–2020)<br/>
		Isabel Langkabel (2013–2019)<br/>
		Simon Martens (2013–2018)<br/>
		Dr. Janina Reibold (Leitung seit 2013)<br/>

<br/>

<div class="Ueberschrift2">Technische Umsetzung</div>
		Carl Friedrich Haak (2018–2020)<br/>
		Simon Martens (seit 2018)<br/><br/>


<div class="Ueberschrift2">Zitierempfehlung</div>
                Johann Georg Hamann: <span class="kursiv">Kommentierte Briefausgabe.</span> Hg. von Leonard Keidel und Janina Reibold, auf Grundlage der Vorarbeiten Arthur Henkels, unter Mitarbeit von Gregor Babelotzky, Konrad Bucher, Christian Großmann, Carl Friedrich Haak, Luca Klopfer, Johannes Knüchel, Isabel Langkabel und Simon Martens (Heidelberg 2020&#x202f;ff.). URL: www.hamann-ausgabe.de [= HKB]               <br/><br/>
            </div>
        </div>
    </div>
</div>