@page
@model HaLive.Pages.WerkausgabeModel

@{
    ViewData["Title"] = "Werkausgabe";
}

<div class="mainhead row"><!-- + sticky-top if sticky -->
    <!--Sticky grey space on top of header -->
    <div class="col">
        <div class="widehead">
            <div class="flexcol">
                <div style="align-self: flex-end">
                    <br/>
                </div>
                <div class="flexrow" style="margin-bottom:-30px">
                    <div class="heading">
                        Werkausgabe
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row no-gutters">
    <div class="col">
        <div class="registerbox">
            <div class="text editionstext">
                <div class="Ueberschrift2">Kommentierte Neuedition ausgewählter Werke</div>
	
	<p class="Text_NI nodist">Die Edition der Werke Hamanns durch Josef Nadler<a class="Fußnotenzeichen" name="FnZ-1" href="#FnA-1">1</a> ist problematisch und wird von der Hamann-Philologie bereits seit Erscheinen des ersten Bandes stark kritisiert.<a class="Fußnotenzeichen" name="FnZ-2" href="#FnA-2">2</a> Die Kritik betrifft einerseits die konzeptionelle Schwäche der Ausgabe, die Schriften nach Sach- anstelle von Zeitgruppen anzuordnen, andererseits und vor allem jedoch textkritische Probleme wie unzählige Fehllesungen, falsche Manuskriptanordnungen sowie Nadlers willkürlichen Umgang mit den handschriftlichen Annotationen Hamanns, die von ihm meist ohne Nachweis und Angabe von Gründen mit dem Drucktext vermischt wurden. Aus diesen Gründen wird im Rahmen der Kommentierten Hamann-Ausgabe die Neuedition ausgewählter Schriften Hamanns mit Kommentar erfolgen. Dabei werden
	<ul class="Stichpunkte">
		<li>sämtliche überlieferte Materialien im Zusammenhang mit dem jeweiligen Werk historisch-kritisch ediert</li>
		<li>sämtliche überlieferte handschriftliche Annotationen Hamanns differenziert zum Drucktext vermerkt. Kontamination verschiedener Textträger sind methodisch ausgeschlossen.</li>
		<li>Auszeichnungen sowie die typographische Eigentümlichkeit der Texte differenziert in eine moderne Typographie übersetzt</li>
		<li>Texteingriffe, wo diese nötig sind, als solche gekennzeichnet.</li>
	</ul>
	</p>

	<p class="Text_NI nodist">Der Kommentar wird sowohl als Stellen-, als auch als systematisch aufgebauter Kommentar erfolgen. Darüber hinaus wird jeder Band
	<ul class="Stichpunkte">
		<li>eine ausführliche Einleitung</li>
		<li>Dokumente zur Entstehungsgeschichte</li>
		<li>eine Bibliographie</li>
	</ul>
	enthalten.</p>
	
	<div class="Ueberschrift2">Bereits erschienene Bände</div>
		<p class="Text_NI">Johann Georg Hamann, Fliegender Brief. Historisch-kritische Ausgabe. Mit einer Einführung, Kommentar und Dokumenten zur Entstehungsgeschichte hg. von Janina Reibold, 2 Bde. [= Philosophische Bibliothek 707] (Hamburg: Meiner Verlag 2018) [<a class="ExternerLink" href="https://meiner.de/fliegender-brief.html">‣</a>]</p>
		
	<div class="Ueberschrift2">Geplante Bände</div>
	<ul class="Stichpunkte">
		<li>Sokratische Denkwürdigkeiten / Wolken (vorauss. 2020)</li>
		<li>Kreuzzüge des Philologen</li>
	</ul>
	<br/>
	<div class="Fußnote"><a class="Fußnotenanker" name="FnA-1" href="#FnZ-1">1</a>Johann Georg Hamann, Sämtliche Werke. Historisch-kritische Ausgabe. Hg. v. Josef Nadler. 6 Bde. (Wien 1949–57).</div>
	<div class="Fußnote"><a class="Fußnotenanker" name="FnA-2" href="#FnZ-2">2</a>Vgl. etwa Walter Boehlich, Forschungsbericht. Die historisch-kritische Hamann-Ausgabe, in: Euphorion 50 (1956), 341–356.</div>
            </div>
        </div>
    </div>
</div>