<div class="ha-footer">
     <div class="ha-footertext flex flex-row shrink-0 grow-1">
          <div class="flex grow shrink-0">
               <div class="ha-themetoggles">
                    <input type="radio" id="ha-toggledark" name="ha-themetoggle">
                    <input type="radio" id="ha-togglebright" name="ha-themetoggle">
                    <label for="ha-toggledark"></label>
                    <label for="ha-togglebright"></label>
                    <div class="ha-themetoggleslider">
                    </div>
               </div>
          </div>
          <div class="grow-0 shrink-0">
               © 2022 Theodor Springmann Stiftung | Stand vom 27.5.2022 | 
               <a asp-controller="Home" asp-action="Index">Startseite</a>  ·
               <a asp-controller="Home" asp-action="Kontakt">Kontakt</a> ·
               <a asp-controller="Home" asp-action="Datenschutzerklaerung">Datenschutzerklärung</a>
               <feature name="AdminService">
                    <span> · <a asp-controller="Admin" asp-action="Index">Admin-Bereich</a></span>
               </feature>
          </div>
     </div>
</div>

@await Html.PartialAsync("/Views/Shared/_Javascript.cshtml")