<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="@ViewData["SEODescription"]">

<title>@ViewData["Title"]</title>

<!-- crossorigin is a workaround to prevent double downloading bugs in chrome -->
<!-- also, the graphite versions of the font are available for use:
    <link rel="preload" href="/fonts/LinLibertine_R_G.ttf" as="font" crossorigin/>
    <link rel="preload" href="/fonts/LinBiolinum_R_G.ttf" as="font" crossorigin/>
-->

@* Resources *@
<link rel="preload" href="/img/subtlenet2.png" as="image" />
@* We do not preload the fonts since they are embedded in the css by vite 
<link rel="preload" href="/fonts/LinBiolinum_Rah.ttf" as="font" crossorigin/>
<link rel="preload" href="/fonts/LinLibertine_Rah.ttf" as="font" crossorigin/>
<link rel="preload" href="/fonts/LinLibertine_RIah.ttf" as="font" crossorigin/>
<link rel="preload" href="/fonts/LinLibertine_RBah.ttf" as="font" crossorigin/> *@

@* Styles *@
<link rel="stylesheet" href="/dist/style.css" asp-append-version="true" />

@* Scripts *@
<script src="/js/mark.min.js" asp-append-version="true"></script>
<script src="/js/htmx.min.js" asp-append-version="true"></script>
<script rel="preload" type="module" src="/dist/scripts.js" asp-append-version="true"></script>