<!DOCTYPE html>
<html class="h-full w-full overflow-hidden" lang="de" id="top">

<head>
@await Html.PartialAsync("/Views/Shared/_Head.cshtml")
</head>

<body class="h-full w-full" hx-boost="true">
    <div class="flex flex-col h-full">
    @await Html.PartialAsync("/Views/Shared/_HKBMenu.cshtml")
    <main role="main" class="mb-6 w-full desktop:max-w-screen-desktop mx-auto grow">
        @RenderBody()
    </main>
    <div class="w-full">
        @await Html.PartialAsync("/Views/Shared/_Footer.cshtml")
    </div>
    </div>
    @await Html.PartialAsync("/Views/Shared/_ScrollButton.cshtml")
    <feature name="Notifications">
        @await Html.PartialAsync("/Views/Shared/_Notifications.cshtml")
    </feature>
    @await RenderSectionAsync("JavaScript", false)
    @await Html.PartialAsync("/Views/Shared/_Scripts.cshtml")
</body>
</html>
