@{
    var showCredits = ViewData["showCredits"] == "true" ? true : false;
}

<header class="sticky w-100 font-serif mb-6">
    <nav class="flex flex-row w-100 bg-slate-50 border-t-[5px] border-gray-300 dark:shadow-xl dark:border-gray-900 py-3 px-3 desktop:px-8 flex-wrap">
        <a asp-controller="Index" asp-action="Index" class="text-xl xl:text-3xl grow-0 shrink-0 text-black hover:text-black">
            <img src="/favicon.ico" class="inline-block w-8 h-8 xl:w-12 xl:h-12 mr-2 border border-gray-300 shadow-sm" alt="HKB-Logo" loading="lazy" />
                <span class="sm:hidden">Hamann: Komm. Briefausgabe</span> 
                <span class="hidden sm:inline md:hidden">Johan Georg Hamann: Kommentierte Briefausgabe</span> 
                <span class="hidden md:inline align-baseline">Johann Georg Hamann: Kommentierte Briefausgabe (&#x200A;H&#x200A;K&#x200A;B&#x200A;)</span>
        </a>
        <div class="flex grow shrink">

        </div>
        <div class="ha-menusymbol inline-block desktop:hidden pr-3 align-bottom">
            <button id="openmenubutton">
                <svg role="img" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                    aria-labelledby="hamburgerIconTitle">
                    <title id="hamburgerIconTitle">Menu</title>
                    <path d="M6 7L18 7M6 12L18 12M6 17L18 17"></path>
                </svg>
            </button>
            <button class="hidden" id="closemenubutton">
                <svg role="img" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                    aria-labelledby="closeIconTitle">
                    <title id="closeIconTitle">Close</title>
                    <path d="M6.34314575 6.34314575L17.6568542 17.6568542M6.34314575 17.6568542L17.6568542 6.34314575">
                    </path>
                </svg>
            </button>
        </div>
        <div class="ha-topnav " id="ha-topnav">
            <a class="ha-active-default" asp-controller="Index" asp-action="Index">
                Suche & Briefauswahl
            </a>
            <a asp-controller="Briefe" asp-action="Index">
                Briefansicht
            </a>
            <div class="ha-topnav-dropdown">
                <a href="/HKB/Register" class="cursor-default ha-menu-arrowsymbol pointer-events-none">
                    Register
                </a>
                <div class="ha-topnav-dropdown-content" >
                    <a asp-controller="Register" asp-action="Allgemein">Register</a>
                    <a asp-controller="Register" asp-action="Bibelstellen">Bibelstellenregister</a>
                    <a asp-controller="Register" asp-action="Forschung">Forschungsbibliographie</a>
                </div>
            </div>
             <div class="ha-topnav-dropdown">
                <a href="/HKB/Edition" class="cursor-default ha-menu-arrowsymbol pointer-events-none !mr-0" >
                Edition
                </a>
                <div class="ha-topnav-dropdown-content !mr-0">
                    <a asp-controller="Home" asp-action="Kontakt">Kontakt</a>
                    <a asp-controller="Edition" asp-action="Mitwirkende">Mitwirkende</a>
                    <a asp-controller="Edition" asp-action="Richtlinien">Editionsrichtlinien</a>
                    <a asp-controller="Edition" asp-action="Editionsgeschichte">Editionsgeschichte</a>
                    <a asp-controller="HKW" asp-action="Index">Werkausgabe</a>
                </div>
            </div>
        </div>
    </nav>
    @* @if(showCredits) 
    {
        <div class="desktop:block hidden w-100 bg-slate-50 dark:pt-2 dark:pb-2 dark:bg-slate-800 pb-3 px-3 desktop:px-8 overflow-hidden whitespace-nowrap text-ellipsis">
            <a href="/Edition/Mitwirkende">Hg. v. Leonard Keidel und Janina Reibold, auf Grundlage der Vorarbeiten Arthur Henkels, unter Mitarbeit von G. Babelotzky, K. Bucher, Ch. Großmann, C.F. Haak, L. Klopfer, J. Knüchel, I. Langkabel und S. Martens (Heidelberg 2020ff.)</a>
        </div>
    } *@
</header>