<div class="md:flex md:flex-row md:items-stretch md:gap-x-10 mb-4 desktop:mb-8">
    <div class="bg-slate-50 dark:bg-slate-900 border border-solid border-gray-300 px-9 py-6 mb-6 md:mb-0 md:basis-1/2 md:grow-1 md:shrink-1">
        <a asp-controller="Index" asp-action="Index" class="no-underline hover:underline">
            <div class="flex flex-row gap-x-3 pb-1">
                <img src="/img/HKB.png" class="w-10 h-10 md:w-16 md:h-16 mr-2 border dark:border-none border-gray-300 shadow-sm" alt="HKB-Logo" />
                <h2 class="!mt-0 !mb-0 text-xl desktop:text-2xl">Kommentierte Briefausgabe →</h2>
            </div>
        </a>
    </div>
    <div class="bg-slate-50 dark:bg-slate-900 border border-solid border-gray-300 px-9 py-6 mb-10 md:mb-0 md:basis-1/2 md:grow-1 md:shrink-1">
        <a asp-controller="HKW" asp-action="Index" class="no-underline hover:underline">
        <div class="flex flex-row gap-x-3 pb-1">
            <img src="/img/HKW.png" class="w-10 h-10 md:w-16 md:h-16 mr-2 border dark:border-none border-gray-300 shadow-sm" alt="HKW-Logo" />
            <h2 class="!mt-0 !mb-0 text-xl desktop:text-2xl">Historisch-kritische und kommentierte Edition ausgewählter Werke →</h2>
        </div>
        </a>
    </div>
</div>