<header class="sticky w-100 font-serif mb-6">
    <nav class="flex flex-row w-100 bg-slate-50 border-t-[5px] border-gray-300 dark:shadow-xl dark:border-gray-900 py-3 px-3 desktop:px-8 flex-wrap">
        <a asp-controller="HKW" asp-action="Index" class="text-xl xl:text-3xl grow-0 shrink-0 text-black hover:text-black ">
            <img src="/img/HKW.png" class="inline-block w-8 h-8 xl:w-12 xl:h-12 mr-2 border border-gray-300 shadow-sm" alt="HKW-Logo" loading="lazy" />
            <span class="sm:hidden">Hamann: Komm. Werkedition</span> 
            <span class="hidden sm:inline md:hidden">Johan Georg Hamann: Kommentierte Werkedition</span> 
            <span class="hidden md:inline align-baseline">Johann Georg Hamann: Historisch-kritische und kommentierte Edition ausgewählter Werke (&#x200A;H&#x200A;K&#x200A;W&#x200A;)</span>
        </a>
        <div class="flex grow shrink">

        </div>
        <div class="ha-menusymbol inline-block desktop:hidden pr-3 align-bottom">
            <button id="openmenubutton">
                <svg role="img" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                    aria-labelledby="hamburgerIconTitle">
                    <title id="hamburgerIconTitle">Menu</title>
                    <path d="M6 7L18 7M6 12L18 12M6 17L18 17"></path>
                </svg>
            </button>
            <button class="hidden" id="closemenubutton">
                <svg role="img" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                    aria-labelledby="closeIconTitle">
                    <title id="closeIconTitle">Close</title>
                    <path d="M6.34314575 6.34314575L17.6568542 17.6568542M6.34314575 17.6568542L17.6568542 6.34314575">
                    </path>
                </svg>
            </button>
        </div>
        <div class="ha-topnav " id="ha-topnav">
            <div class="ha-topnav-dropdown">
                <a href="/HKW/Baende/" class="cursor-default ha-menu-arrowsymbol pointer-events-none">
                    Bände
                </a>
                <div class="ha-topnav-dropdown-content" >
                    <a asp-controller="HKW" asp-action="FliegenderBrief">Fliegender Brief</a>
                    <a asp-controller="HKW" asp-action="SokratischeDenkwuerdigkeiten">Sokr. Denkwürdigkeiten. Wolken</a>
                    <a asp-controller="HKW" asp-action="Kreuzzuege">Kreuzzüge des Philologen</a>
                </div>
            </div>


            <a asp-controller="HKW" asp-action="Uebersicht">
                Werkübersicht
            </a>

            <a asp-controller="Register" asp-action="Forschung" asp-route-id="EDITIONEN">
                Bibliographie Hamann-Editionen
            </a>
        </div>
    </nav>
</header>