@model BriefeMetaViewModel

<div class="ha-letterhead">
    <div class="ha-letternumber">
        <div class="ha-letternumberinline">
            @Model.Meta.Autopsic
        </div>
    </div>
    <div class="ha-metadata">
        <div class="ha-metadatarows">
            <div class="ha-metadatadate">
                @Model.Meta.Date
            </div>
            <div class="ha-metadatapersons">
                @Model.ParsedSenders → @Model.ParsedReceivers
            </div>
        </div>
    </div>
</div>