@model UploadViewModel;
<script defer src="/js/publishform.js" asp-append-version="true"></script>

@if (Model.UsedFiles != null && Model.UsedFiles.Any()) {
      <div class="ha-publishfilelisttitle">Aktuell geladene Dateien</div>
        <table class="ha-publishfilelistlist">
        @foreach (var (category, files) in Model.UsedFiles.OrderBy(x => x.Key))
        {
          <tr>
            <td>@Model.AvailableRoots.Where(x => x.Prefix == category).First().Type:</td>
            <td>
            @foreach (var item in files)
            {
              if (item != files.Last()) {
                <span>@item.FileName,</span>
              }
              else {
                <span>@item.FileName</span>
              }
            }
            </td>
          </tr>
        }
        </table>

        <form class="ha-publishform" id="ha-publishform" asp-controller="API" asp-action="LocalPublish" method="post" enctype="multipart/form-data">
          <label class="ha-publishfilelabel" id="ha-publishfilelabel">
            <div class="ha-publishtext">Dateien Veröffentlichen</div>
            <div class="ha-lds-ellipsis-publish" id="ha-lds-ellipsis-publish"><div></div><div></div><div></div><div></div></div>
          </label>
          <div class="ha-publishmessage" id="ha-publishmessage">
            <output form="uploadForm" name="publish-result" id="publish-result"></output>
          </div>
      </form>
}