@model UploadViewModel;

<script defer src="/js/uploadform.js"></script>

<form class="ha-uploadform" id="uploadForm" asp-controller="API" asp-action="Upload" method="post" enctype="multipart/form-data">
    <label class="ha-uploadfilelabel" id="dropzone">
        <input class="hidden" id="file" type="file" accept=".xml" name="file" />
        <div class="ha-uploadtext">Upload</div>
        <div class="ha-lds-ellipsis" id="ha-lds-ellipsis-upload"><div></div><div></div><div></div><div></div></div>
    </label>
    <div class="ha-uploadmessage" id="ha-uploadmessage">
        Fehler!<br/>
        <output form="uploadForm" name="upload-result"></output>
    </div>
</form>